@import "sass/modules/colors";
@import "sass/modules/fonts";
@import "sass/modules/variables";

@import "sass/partials/toast";

@import "sass/partials/menubar";
@import "sass/partials/palette";
@import "sass/partials/help";
@import "sass/partials/work";
@import "sass/partials/main";
@import "sass/partials/dialog";
@import "sass/partials/tables";
@import "sass/partials/tabs";
@import "sass/partials/test";

