div.cirsim div.toast {
  position: absolute;
  bottom: 0;
  visibility: hidden;
  transform: translateY(2.3em);
  z-index: 400;
  transition: all 0.4s ease-in-out 0s, visibility 0s linear 0.4s, z-index 0s linear 0.01s;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  left: calc(50% - 30em/2);
  width: 30em;
  background-color: #151515;
  color: white;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0.5em; }
div.cirsim div.toast.toast-active {
  visibility: visible;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.4s;
  z-index: 400; }

div.cirsim nav.menubar {
  position: relative;
  z-index: 100;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #f0f3f0;
  border-bottom: thin solid #808080;
  font-size: 0.9rem; }
  div.cirsim nav.menubar li:hover {
    background: #00796B; }
  div.cirsim nav.menubar li {
    user-select: none;
    cursor: pointer; }
    div.cirsim nav.menubar li a, div.cirsim nav.menubar li a:link, div.cirsim nav.menubar li a:visited {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 0.9rem;
      color: black;
      text-decoration: none; }
  div.cirsim nav.menubar > ul {
    list-style-type: none;
    margin: 0;
    border: 0;
    padding: 0; }
    div.cirsim nav.menubar > ul img.check {
      vertical-align: baseline;
      width: 19px;
      height: 16px;
      content: url("../../img/menu-check.png"); }
    div.cirsim nav.menubar > ul > li {
      display: inline-block;
      margin: 0;
      border: 0;
      padding: 0.25em 2em 0.25em 0.5em;
      position: relative; }
      div.cirsim nav.menubar > ul > li a, div.cirsim nav.menubar > ul > li a:link, div.cirsim nav.menubar > ul > li a:visited {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 0.9rem;
        color: black;
        text-decoration: none; }
    div.cirsim nav.menubar > ul ul {
      visibility: hidden;
      opacity: 0;
      transform: translateY(-2em);
      z-index: -1;
      transition: all 0.2s ease-in-out 0s, visibility 0s linear 0.2s, z-index 0s linear 0.01s;
      list-style-type: none;
      position: absolute;
      overflow: hidden;
      left: 0;
      top: 100%;
      margin: 1px 0 0 0;
      background-color: #f0f3f0;
      padding: 0;
      border: 1px solid #808080;
      border-top-width: 0; }
      div.cirsim nav.menubar > ul ul > li {
        padding: 0 5px;
        margin: 0;
        overflow: hidden; }
        div.cirsim nav.menubar > ul ul > li a {
          display: inline-block;
          width: 8em;
          padding-top: 5px;
          padding-bottom: 5px; }
      div.cirsim nav.menubar > ul ul > li.menu-disabled a {
        opacity: 0.3; }
    div.cirsim nav.menubar > ul ul.menu-open {
      visibility: visible;
      opacity: 1;
      z-index: 100;
      transform: translateY(0%);
      transition-delay: 0s, 0s, 0.2s; }
    div.cirsim nav.menubar > ul ul.edit-menu a {
      width: 6em; }
    div.cirsim nav.menubar > ul ul.option-menu a {
      width: 11em; }
    div.cirsim nav.menubar > ul ul.file-menu a {
      width: 6em; }
    div.cirsim nav.menubar > ul ul.help-menu a {
      width: 7.5em; }
    div.cirsim nav.menubar > ul .ul-state-active {
      color: red; }
    div.cirsim nav.menubar > ul li.menu-divider {
      height: 1px;
      border: 0 solid black;
      border-top-width: 1px; }

div.cirsim div.palette {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 83px;
  background: white;
  border-right: 1px solid black;
  padding: 1em 5px;
  z-index: 5;
  overflow-y: scroll;
  overflow-x: hidden;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  div.cirsim div.palette div.item {
    position: relative;
    min-height: 60px;
    border-bottom: thin solid #dddddd;
    align-items: center;
    display: flex; }
    div.cirsim div.palette div.item div.box {
      vertical-align: middle;
      margin: 0;
      padding: 0;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
      div.cirsim div.palette div.item div.box div.img {
        margin: 0;
        padding: 0;
        border: 0;
        line-height: 0; }
      div.cirsim div.palette div.item div.box img {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 0;
        margin: 0; }
      div.cirsim div.palette div.item div.box div.desc {
        display: block;
        font-style: normal;
        font-weight: bold;
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 0.80em; }
      div.cirsim div.palette div.item div.box div.long {
        font-size: 0.65em; }
  div.cirsim div.palette figure {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: thin solid #dddddd; }
    div.cirsim div.palette figure img {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 0;
      margin: 0; }
    div.cirsim div.palette figure figcaption {
      font-style: normal;
      font-weight: bold;
      padding: 0;
      margin: 0;
      text-align: center; }
    div.cirsim div.palette figure figcaption.long {
      font-size: 0.65em; }

.cirsim-dialog-titlebar {
  position: absolute;
  top: 50%;
  width: 20px;
  margin: -10px 0 0 0;
  padding: 1px;
  height: 20px; }

.cirsim-home {
  right: calc(0.6em + 20px); }

.cirsim-back {
  right: calc(0.9em + 40px); }

.cirsim-help {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 0.5em; }
  .cirsim-help p:first-child {
    margin-top: 0; }
  .cirsim-help figure {
    text-align: center;
    overflow-x: auto;
    margin: 1em 0; }

.cirsim .help-div {
  padding: 0;
  border-left: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
  background-color: white; }
  .cirsim .help-div div.header {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    background-color: #009688;
    color: black;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    z-index: 20;
    height: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
    .cirsim .help-div div.header h1 {
      flex-grow: 1;
      margin: 0;
      padding: 4px 4px 0 10px;
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      font-size: 16px;
      line-height: 16px;
      user-select: none; }
    .cirsim .help-div div.header button {
      box-size: border-box;
      flex: 0 0 25px;
      width: 25px;
      height: 25px;
      padding: 0;
      margin: 0;
      border: 0;
      background: none;
      outline: none; }
    .cirsim .help-div div.header button:hover {
      background-color: #e81123;
      cursor: pointer; }

div.cirsim div.work {
  position: absolute;
  width: 100%;
  left: 0;
  top: 1.53em;
  right: 0;
  bottom: 0;
  background: black; }

div.cirsim .cirsim-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #a00;
  opacity: 0.05;
  z-index: 2000;
  display: none; }
div.cirsim div.main {
  line-height: normal;
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }
div.cirsim div.help-div {
  line-height: normal;
  font-size: 1rem;
  display: none; }

div.cirsim.docked-help .main {
  position: absolute;
  top: 0;
  left: 0;
  right: 325px;
  bottom: 0; }
div.cirsim.docked-help .help-div {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 325px;
  overflow: auto; }

div.cirsim-full {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: white; }

div.cirsim-inline {
  position: relative;
  margin: 0;
  border: 0;
  padding: 0;
  background: white;
  overflow: hidden; }
  div.cirsim-inline div {
    text-align: center; }
  div.cirsim-inline canvas {
    margin: 0 auto; }

div.cirsim-window {
  position: relative;
  width: 100%;
  height: 600px;
  margin: 0;
  border-left: 0;
  border-right: 0;
  padding: 0;
  border-top: thin solid #aaaaaa;
  background: white;
  min-height: 100px;
  min-width: 800px; }

div.cirsim.height300 {
  height: 300px; }

div.cirsim div.dialog-content {
  position: relative;
  padding: 0.5em;
  font-size: 0.95em; }
  div.cirsim div.dialog-content input {
    padding: 3px;
    box-sizing: border-box;
    font-size: 1.1em; }
  div.cirsim div.dialog-content h2 {
    margin: 0.75em 0; }
  div.cirsim div.dialog-content form {
    position: relative;
    height: 100%; }
  div.cirsim div.dialog-content .large {
    font-size: 1.2em; }
  div.cirsim div.dialog-content fieldset {
    position: relative;
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 0;
    max-width: 100%; }
  div.cirsim div.dialog-content p.error {
    margin: 1em 0 0 0;
    text-align: center;
    color: red;
    font-size: 0.9em;
    font-style: italic; }
  div.cirsim div.dialog-content div.control {
    position: relative;
    margin: 0 0 1em 0; }
    div.cirsim div.dialog-content div.control label {
      display: block;
      font-style: italic;
      margin: 0.2em 0 0.1em 0; }
    div.cirsim div.dialog-content div.control input {
      display: block; }
    div.cirsim div.dialog-content div.control input[type=text], div.cirsim div.dialog-content div.control input[type=file] {
      width: 100%; }
    div.cirsim div.dialog-content div.control input[type=radio] {
      display: inline-block; }
    div.cirsim div.dialog-content div.control input[type=range] {
      width: 100%; }
    div.cirsim div.dialog-content div.control p.selector {
      text-align: center; }
    div.cirsim div.dialog-content div.control select {
      width: 6em; }
    div.cirsim div.dialog-content div.control select.files {
      width: 100%; }
    div.cirsim div.dialog-content div.control div.notice {
      position: absolute;
      width: 100%;
      left: 0;
      top: 45%;
      text-align: center;
      font-style: italic;
      color: saddlebrown; }
    div.cirsim div.dialog-content div.control textarea {
      width: 100%; }
  div.cirsim div.dialog-content div.control1 {
    margin: 0 0 1em 0; }
    div.cirsim div.dialog-content div.control1 label {
      display: inline-block;
      font-style: italic;
      padding-right: 0.5em; }
    div.cirsim div.dialog-content div.control1 select {
      width: 6em; }
    div.cirsim div.dialog-content div.control1 input.number {
      width: 2em;
      text-align: center; }
    div.cirsim div.dialog-content div.control1 input.compname {
      width: 4em; }
    div.cirsim div.dialog-content div.control1 input.tabname {
      width: 6em; }
  div.cirsim div.dialog-content div.center {
    text-align: center; }
  div.cirsim div.dialog-content div.indent {
    margin-left: 20px;
    margin-right: 20px; }
  div.cirsim div.dialog-content h1 {
    margin: 0 0 0.5em 0; }
  div.cirsim div.dialog-content p {
    color: #606060; }
  div.cirsim div.dialog-content .gap {
    margin-top: 1em; }
div.cirsim.about {
  width: 400px;
  text-align: center; }
  div.cirsim.about img {
    width: 171px;
    height: 75px; }
  div.cirsim.about div.dialog-content {
    padding: 1em; }
div.cirsim.help {
  width: 450px;
  height: 600px; }
div.cirsim.component a.helper {
  display: block;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  float: right;
  color: #606060;
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.85em;
  padding: 0; }
div.cirsim .cirsim-error {
  color: red; }

div.cirsim-dialog {
  padding: 1em;
  font-size: 0.95em; }

.ui-dialog-buttonset button {
  width: 6em; }

.ui-dialog .ui-dialog-buttonpane {
  padding: 0; }

div.cirsim table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 0.9em; }
  div.cirsim table th {
    color: white;
    background: #18453B;
    /* #3e9c45; */
    background: linear-gradient(#18453B, #73d189);
    text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 1px;
    text-align: left;
    padding: 2px 6px;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    vertical-align: bottom; }
    div.cirsim table th a:link {
      color: #F5F3EB; }
    div.cirsim table th a:visited {
      color: #E3DCC5; }
    div.cirsim table th a:hover {
      color: #ffffff; }
  div.cirsim table th.width40 {
    width: 20%; }
  div.cirsim table th.width40em {
    width: 40em; }
  div.cirsim table th.width20em {
    width: 20em; }
  div.cirsim table td {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #ffffff;
    padding: 0.25em 0.75em;
    color: #4f6b72; }
    div.cirsim table td a:link {
      color: #8A8A8A;
      text-decoration: underline; }
    div.cirsim table td a:visited {
      color: #B09D5B;
      text-decoration: underline; }
    div.cirsim table td a:hover {
      color: #3366cc;
      text-decoration: underline; }
div.cirsim table.center td, div.cirsim table.center th {
  text-align: center; }
div.cirsim table.truth-table th {
  color: black;
  background: white;
  text-shadow: none;
  border: none;
  border-bottom: 1px solid black;
  text-align: center; }
div.cirsim table.truth-table td {
  border: 0; }
div.cirsim table.truth-table th:last-child, div.cirsim table.truth-table td:last-child {
  border-left: thin solid black; }

div.cirsim div.tabs {
  position: absolute;
  left: 83px;
  top: 0;
  bottom: 0;
  right: 0;
  font-size: 0.8rem;
  padding: 0;
  background: #ddd;
  border: 0; }
  div.cirsim div.tabs > ul {
    margin: 0;
    padding: 3px 0 0 2px;
    background: transparent;
    border: 0;
    list-style: none; }
    div.cirsim div.tabs > ul > li {
      position: relative;
      display: inline-block;
      font-size: 0.8rem;
      padding: 0.25em 1em 0.45em 1em;
      min-width: 6em;
      text-align: center;
      cursor: pointer;
      background: #ccc;
      border: 1px solid black;
      border-bottom: none;
      border-radius: 5px 5px 0 0;
      margin: 1px 3px -1px 0;
      white-space: nowrap;
      z-index: 18; }
      div.cirsim div.tabs > ul > li a {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-decoration: none;
        color: black;
        outline: 0;
        user-select: none; }
    div.cirsim div.tabs > ul > li.selected {
      background: white;
      z-index: 22; }
      div.cirsim div.tabs > ul > li.selected a {
        color: black; }
  div.cirsim div.tabs div.tab {
    position: absolute;
    display: none;
    left: 0;
    top: 29px;
    right: 0;
    bottom: 0;
    z-index: 20;
    overflow: auto; }
    div.cirsim div.tabs div.tab canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 500px;
      height: 500px;
      cursor: pointer; }
  div.cirsim div.tabs div.tab.selected {
    display: block;
    background: white;
    border-top: 1px solid black; }

/*# sourceMappingURL=cirsim.css.map */
