// The major colors
// We have a primary color, two secondary colors, and a complementary color.
$dark-primary: #00796B;
$primary: #009688;
$light-primary: #B2DFDB;
$accent: #607D8B;
$primary-text: #212121;
$divider-color: #BDBDBD;
$secondary-text: #606060;

$comp: #c41425;
$window-borders: #aaaaaa;



$tabs-background: #ddd;
$tab-background: #ccc;
$tab-text: black;
$tab-selected-background: white;
$tab-selected-text: black;

$menu-focus: $dark-primary;
$menu-background: #f0f3f0;
$menu-color: black;
$menu-divider-color: black;
$menu-border-color: #808080;

$resizer: $dark-primary;

$toast-background: #151515;
$toast-text: white;